import(methods)
import(graphics)
import(forecast)
importFrom(MASS,fitdistr)
import(changepoint)
importFrom(utils, txtProgressBar,setTxtProgressBar)
importFrom(stats, lm,is.ts,ts, var, complete.cases, fitted.values)
importFrom(zoo, index, coredata)
importFrom(grDevices, rainbow)

export("envcpt","aic.envcpt","plot.fit.envcpt","plot.aic.envcpt")
