import(methods)
import(graphics)
import(forecast)
importFrom(MASS,fitdistr)
import(changepoint)
importFrom(utils, txtProgressBar,setTxtProgressBar)
importFrom(stats, lm,arima,is.ts,ts, var)
importFrom(zoo, index, coredata)

export("envcpt","aic.envcpt")
